#parent-list li {
    /*puts it all on one line*/
    display: inline-block;
    border: 2px solid black;
    padding: 5px;
    width: 7em;
    height: 1.5em;
    background-color: rgba(255, 200, 125, 1);
    border-radius: 1em;
    text-align: center;
    box-shadow: 2px 2px 8px #888888;
}